<!DOCTYPE html>
<html lang="en">
  <meta>
    <meta charset="UTF-8">
    <title>helloworldyael</title>
  </meta>
  <body>
	
    <div id="hello-world-app">
      <p>{{campaigns}}</p>
    </div>


    <script
      src="../node_modules/vue/dist/vue.js">
    </script>

    <script>
      // new Vue({
      //   delimiters: ['${', '}'],
      //   el: "#hello-world-app",
      //   data() {
      //     return {
      //       msg: "Hello World! from templates"
      //     }
      //   }
      // });
      // 
      // var listgen = new Vue({
      //   delimiters: ['${', '}'],
      //   el: "#mylist",
      //   data: {
      //     items: {{campaigns}}
      //   }
      // })
    </script>

  </body>
</html>